.ecpHeading {
  position:relative;
  padding-right:20px;
}
.ecpEditHover {
  background:transparent !important;
  padding:0px !important;
  border:0px !important;
}
.ecpEdit img {
  width:16px;
  padding:0px;
  margin:0px;
  border:0px;
}

.ecpEdit {
  visibility:hidden;
  position:absolute;
  right:0px;
  bottom:0.25em;
}
.ecpHover .ecpEdit {
  visibility:visible;
  background-color:transparent;
}
.ecpDisabled {
  padding:0px;
}
.ecpDisabled .ecpEdit,
.ecpDisabled img {
  display:none;
}

.ecpForm textarea {
  width:100%;
  margin:0px;
} 
.foswikiToc .ecpHeading img {
  display:none;
}
