.ecpHeading {
  position:relative;
  padding-right:25px;
}
.ecpEdit {
  position:absolute;
  top:50%;
  right:0;
  cursor:pointer;
  font-size:16px;
  line-height:1;
  margin-top:-8px;
  opacity:0;
  transition: opacity 300ms;
}
.ecpEdit img {
  width:16px;
  padding:0;
  margin:0;
  border:0;
}

h1:hover .ecpEdit,
h2:hover .ecpEdit,
h3:hover .ecpEdit,
h4:hover .ecpEdit,
h5:hover .ecpEdit,
h6:hover .ecpEdit {
  opacity:1;
}
.ecpDisabled {
  padding:0;
}
.ecpDisabled .ecpEdit,
.ecpDisabled img {
  display:none;
}

.ecpForm textarea {
  width:100%;
  margin:0;
} 
.foswikiToc .ecpHeading > .foswikiIcon {
  display:none;
}
.ecpDialogOpts {
  display:flex;
  align-items:center;
  gap:1em;
}
