.ecpHeading {
  position:relative;
  padding-right:20px;
}
.ecpEditHover {
  background:transparent !important;
  padding:0 !important;
  border:0 !important;
}
.ecpEdit img {
  width:16px;
  padding:0;
  margin:0;
  border:0;
}

.ecpEdit {
  visibility:hidden;
  position:absolute;
  right:-0.5em;
  bottom:0;
  cursor:pointer;
}
.ecpHover .ecpEdit {
  visibility:visible;
  background-color:transparent;
}
.ecpDisabled {
  padding:0;
}
.ecpEdit .fa {
  font-size:16px;
}
.ecpDisabled .ecpEdit,
.ecpDisabled img {
  display:none;
}

.ecpForm textarea {
  width:100%;
  margin:0;
} 
.foswikiToc .ecpHeading > .jqIcon {
  display:none;
}
