*.gz
*.swp
pub/System/EditChapterPlugin/ecpstyles.css
pub/System/EditChapterPlugin/ecpjavascript.js
EditChapterPlugin.md5
EditChapterPlugin.sha1
EditChapterPlugin.tgz
EditChapterPlugin.txt
EditChapterPlugin.zip
EditChapterPlugin_installer
EditChapterPlugin_installer.pl
