%TMPL:INCLUDE{"edit"}%<!-- template: edit.chapter.tmpl -->
%TMPL:INCLUDE{"editjavascript"}%<!-- editjavascript// -->

%TMPL:DEF{"dialog"}%<div class="jqUIDialog {alsoResize:'textarea[name=chapter]', modal:true, draggable:true, resizable:true, width:800}" title="%MAKETEXT{"Edit chapter '[_1]'" args="%URLPARAM{"title" default="%URLPARAM{"from"}%"}%"}%">
  <form name="EditForm" action="%SCRIPTURLPATH{"save"}%" method="post" class="ecpForm">
  <input type="hidden" name="topic" value="%WEB%.%TOPIC%" />
  <input type="hidden" name="t" value="%GMTIME{"$epoch"}%" />
  <input type="hidden" name="redirectto" value="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%#%URLPARAM{"id"}%" />
  <textarea name="beforetext" style="display:none" >%EXTRACTCHAPTER{before="%URLPARAM{"from" default="0"}%" encode="on"}%</textarea>
  <textarea name="chapter" class="jqFocus foswikiTextarea natEditTextArea natedit" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" wrap="virtual">%EXTRACTCHAPTER{from="%URLPARAM{"from" default="0"}%" to="%URLPARAM{"to"}%" encode="on"}%</textarea>
  <textarea name="aftertext" style="display:none">%EXTRACTCHAPTER{after="%URLPARAM{"to"}%" encode="on"}%</textarea>
  <textarea name="text" style="display:none" >%EXTRACTCHAPTER{encode="on"}%</textarea>
  <input type="hidden" name="from" value="%URLPARAM{"from" default="0"}%" />
  <input type="hidden" name="to" value="%URLPARAM{"to"}%" />
  </form>
  <a class="jqUIDialogButton jqUIDialogSubmit {icon:'ui-icon-disk'}">%MAKETEXT{"OK"}%</a>
  <a class="jqUIDialogButton jqUIDialogClose {icon:'ui-icon-cancel'}">%MAKETEXT{"Cancel"}%</a>
  <a class="jqUIDialogButton {icon:'ui-icon-pencil'}" href="%SCRIPTURL{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%">%MAKETEXT{"Edit all"}%</a>
</div>%TMPL:END%
