%TMPL:INCLUDE{"editjavascript"}%

%TMPL:DEF{"editjavascript"}%%TMPL:PREV%%TMPL:P{"chapterjavascript"}%%TMPL:END%

%TMPL:DEF{"chapterjavascript"}%%ADDTOZONE{"script"
  tag="EDITJAVASCRIPT::INIT"
  text="<script>
/* to hook into patternskin */
jQuery(function($) {
  $('.patternActionButtons input').click(function() {
    beforeSubmitHandler();
  });
});
</script>"
  requires="JQUERYPLUGIN"
}%%JQREQUIRE{"ui::dialog}%%TMPL:END%
